* {
    margin: 0;
    padding: 0;
}

.index1 {
    z-index: 1;
}
.pointer{
    cursor: pointer;
}

/* -------------------- Card --------------------- */

.cardStyle {
    width: 18rem;
    box-shadow: 0px 0px 10px black;
}

.cardImage {
    object-fit: fill;
}

/* ---------------------- Product Page ------------------- */

/* .pImageSection {
    height: 200px;
    width: 200px;
} */

.pImage {
    object-fit: contain;
}

/* ------------------------ Badge ------------------------- */

.badgecounter {
    height: 20px;
    width: 20px;
    background: red;
    transform: translateX(-5px);
    font-size: 12px;
}